<div class="col-lg-6">
  <div class="card">
    <div class="card-header">
      <h3 class="box-title">About This Site</h3>
    </div>
    <div class="card-body">
      当サイトでは、IIJmioの契約をされている方に向けて、30日以上前のパケット通信量も参照出来るようにするようにしました。<br/>
      詳しい使い方は<a href="https://qiita.com/kakikubo/items/06611072b0cb1d8c1fc6">こちら</a>を参照して下さい
      <p><%= current_user.name %></p>
      <p><%= current_user.provider %></p>
      <p><%= current_user.uid %></p>
      <p><%= current_user.email %></p>
    </div>
  </div>
  <!-- /.box-header -->
</div>
